build/
data/
src/DerivedData/
StormLib-master/
*xcuserdata*
*.user
*.xcuserstate
*.zip
.DS_Store
_codeql_detected_source_root
War3.mpq
/share/config.cfg
/share/openwarcraft3-config.cfg
/share/openwow-config.cfg
/share/autoexec.cfg
