name: C/C++ CI

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgles2-mesa-dev \
            libsdl2-dev \
            libjpeg-dev \
            libstorm-dev

      - name: Build
        run: make

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: openwarcraft3-linux-x64
          path: |
            build/bin/openwarcraft3
            build/lib/
          if-no-files-found: error
